<%- include('../partials/header') %>

<table id="list">
  <thead>
    <h2> </h2>
  </thead>
  <tbody>
    <% outfits.forEach(function(o) { %>
      <tr>
        <td class="post-user"><img alt="avatar" src="<%= o.userAvatar %>" referrerpolicy="no-referrer"><%= o.userName %></td>
        <td><%= o.title %></td>
        
        <!-- <td><%= o.releaseYear %></td> -->
        <td><a href="/outfits/<%= o._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>