<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Title</th>
      <!-- <th>Release<br>Year</th> -->
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% outfits.forEach(function(o) { %>
      <tr>
        <td><%= o.title %></td>
        <!-- <td><%= o.releaseYear %></td> -->
        <td><a href="/outfits/<%= o._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>