<%- include('../partials/header') %>

<div class="container-column">
  <% outfits.forEach(function(o) { %>
    <div class="post-user"><img alt="avatar" src="<%= o.userAvatar %>" referrerpolicy="no-referrer"><%= o.userName %></div>
    <div><%= o.title %></div>
    <div class="post-image"><img class="image" alt="image" src="<%= o.image %>" width="350" height="250"></div>
    <div><a href="/outfits/<%= o._id %>">DETAILS</a></div>
  <% }); %>
</div>
  
<%- include('../partials/footer') %>